<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot</title>
    <style>
        /* Adjust image size */
        img {
            width: 100%;
            height: auto; /* Maintain aspect ratio */
            max-width: 800px; /* Limit maximum width */
            display: block; /* Ensure the image is centered */
            margin: auto; /* Center the image horizontally */
        }
    </style>
</head>
<body>
    <img src="static/usingplot.png" alt="Plot">
</body>
</html>